.container {
  min-height: 100vh;
  height: 100vh;
  padding: 16px;
}

.headerTitle {
  font-size: 45px;
}
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20% 20% 20% 20%;
}
