.container {
  background: linear-gradient(0deg, rgb(22, 2, 59) 0%, #0a0529 100%);
  height: 100vh;

  .header {
    padding: 10% 20% 10% 20%;
    text-align: center;
    height: 300px;
    h2 {
      font-size: 40px;
      font-weight: 700;
      margin-bottom: 0;
    }

    h3 {
      font-weight: 500;
      color: #f9b150;
    }
  }

  display: flex;
  flex-direction: column;
  align-items: center;

  .content {
    width: 100%;
    padding: 32px;
    max-width: 1400px;

    .infoTab {
      display: grid;
      grid-template: auto / 1fr 0.5fr;
      grid-gap: 32px;
      justify-content: center;
      .card {
        background-color: rgb(39, 12, 88);
        border: none;
        border-radius: 10px;

        h3 {
          color: #f9b150;
          font-weight: 700;
        }

        .registerButton {
          width: 100%;
        }
      }

      .bottomCard {
        background-color: rgb(39, 12, 88);
        border: none;
        border-radius: 10px;
        margin-top: 16px;

        h4 {
          font-weight: 700;
        }

        dt {
            font-weight: 700;
            font-size: 13px;
        }

        dd, span {
            margin-bottom: 16px;
        }
      }
    }
  }
}
